@import "tailwindcss";
body{
   margin-top:0px;
 background: #36576159;
 }
 /*  
#image-1{
 background-image:
  linear-gradient(120deg, rgba(11, 29, 38, 0.397) 0%, rgba(11, 29, 38, 1) 100%),
  url("./assets/pic1.png");
background-repeat: no-repeat;
background-position: center -900px;
}

#image-2{
background-image: url("./assets/pic2.png");
background-repeat: no-repeat;
background-position: center 300px;
}

#image-3{
background-image: url("./assets/pic3.png");
background-repeat: no-repeat;
background-position: center 500px;
}
*/ 
